.logo {
    padding-bottom: 36px;
    padding-top: 8px;
    width: 65%;
    margin-left: 4px;
}

.logo-white {
    filter: brightness(0) invert(1);
}


.font-xl-small {
    font-size: .675rem;
}

table tr,
table th {
    vertical-align: middle;
}

.card-dashboard-left img {
    width: 100%;
}

.card-dashboard-right {
    min-height: 100px;
}

.d-icon {
    height: 60px;
    width: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 26px;
}

.d-icon.purple {
    background: #9A6BC5;
}

.d-icon.green {
    background: #7BAF65;
}

.d-icon.orange {
    background: #E5964A;
}

.d-icon.blue {
    background: #6E9CCB;
}

.d-right-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.d-right-text h4 {
    font-size: 16px;
    color: #58677d;
    margin: 0;
    font-weight: 400;
}

.d-right-text h3 {
    font-size: 22px;
    color: #111724;
    font-weight: 700;
    margin: 0;
}

.make_order_card {
    position: relative;
    z-index: 1;
}

.make_order_card .clock {
    position: absolute;
    top: 20px;
    right: 24px;
    height: 36px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 17px;
}

.make_order_card_image {
    height: 140px;
    width: 140px;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 20px;
    opacity: .15;
}

.make_order_card_image img {
    height: 100%;
    object-fit: contain;
}

.datepicker-input {
    border-top-right-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}


.pagination {
    margin-bottom: 0;
}

.text-opacity-25 {
    opacity: .7;
}

.dashboard-selected-menu {
    height: 90px;
    object-fit: contain;
    border-radius: 8px;
    position: absolute;
    opacity: .2;
    top: 16px;
    right: 16px;
}

.disabled-card {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(80%);
}

.order-image {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    overflow: hidden;
}


.order-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flag-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    background-size: cover !important;
}

.dashobard-image {
    width: 100%;
    margin-left: auto;

}

.tooltip.small-tooltip .tooltip-inner {
    font-size: 11px;
    padding: 4px 8px;
    line-height: 1.2;
}

.tooltip.small-tooltip .tooltip-arrow::before {
    transform: scale(0.9);
}

.navbar-brand img {
    height: 24px;
    filter: brightness(0) invert(1);
}


@media (max-width: 767.98px) {

    .dashobard-image {
        width: 50%;
        margin-top: 24px;
    }
}